* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/fondo2.jpg);
  background-size: cover;
  height: 100vh;
}

p {
  text-transform: capitalize;
}

label {
  text-transform: capitalize;
}

h2 {
  text-transform: capitalize;
}

header {
  height: 5rem;
}
header nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
}
header nav button {
  border: 1px solid;
  font-size: 2rem;
  padding: 1rem;
  color: black;
  background-color: rgb(166, 186, 36);
  cursor: pointer;
}
header nav button:hover {
  transform: scale(1.05);
}
header nav h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  background-color: rgb(166, 186, 36);
  border: 3px solid black;
  padding: 1rem;
}
header nav h1:hover {
  transition: 0.3s;
  border: 7px solid rgb(166, 186, 36);
  font-size: 3.4rem;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  margin-top: 6rem;
  justify-content: center;
  height: max-content;
}
main .contenedor {
  display: flex;
  gap: 10rem;
  width: max-content;
  margin-left: 10rem;
}
main .contenedor .datos .card {
  background-color: rgba(215, 204, 204, 0.301);
  backdrop-filter: blur(10px);
  width: max-content;
  height: max-content;
}
main .contenedor .datos .card form {
  gap: 2rem;
  border: solid 3px black;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .contenedor .datos .card form label {
  font-size: 1.8rem;
  color: rgb(9, 9, 9);
  border-bottom: 3px solid rgb(166, 186, 36);
}
main .contenedor .datos .card form input {
  width: 20rem;
  height: 3rem;
  font-size: 1.3rem;
}
main .contenedor .datos .card form input::placeholder {
  font-size: 1rem;
  background-color: rgb(166, 186, 36);
  text-align: center;
}
main .contenedor .datos .card form button {
  background-color: rgb(166, 186, 36);
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
main .contenedor .datos .card form button:hover {
  transform: scale(1.09);
}
main .contenedor .datos .card form input {
  width: 15rem;
  background: transparent;
  height: 2rem;
  cursor: pointer;
}
main .contenedor .datos .card form input:hover {
  background-color: rgb(166, 186, 36);
}
main .contenedor .datos .card form input:focus {
  transform: scale(1.1);
}
main .contenedor .preguntas {
  width: 30rem;
  height: 15rem;
  border: solid 3px black;
  background-color: rgba(215, 204, 204, 0.434);
  backdrop-filter: blur(10px);
}
main .contenedor .preguntas div {
  width: 30rem;
  height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .contenedor .preguntas div h2 {
  font-size: 1.5rem;
  text-align: center;
  border: solid 3px black;
}
main .contenedor .preguntas div div {
  width: 25rem;
  display: flex;
  justify-content: center;
}
main .contenedor .preguntas div div form select {
  background-color: rgb(166, 186, 36);
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
  width: 25rem;
  height: 5rem;
}
main .contenedor .preguntas div div form select option {
  font-size: 1rem;
}
main .contenedor .preguntas div div form button {
  font-size: 1.4rem;
  background-color: rgb(166, 186, 36);
  width: 5rem;
  height: 3rem;
}
main .contenedorPreguntas {
  margin-left: 5rem;
  margin-bottom: 5rem;
  height: 35rem;
  width: 35rem;
  display: grid;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 10rem;
}
main .contenedorPreguntas .contenido {
  text-align: center;
  width: 35rem;
  height: 36rem;
  border: 3px solid black;
  display: flex;
  background-color: rgba(215, 204, 204, 0.434);
  backdrop-filter: blur(10px);
  gap: 3rem;
  flex-direction: column;
  justify-content: start;
}
main .contenedorPreguntas .contenido h2 {
  margin-top: 1rem;
}
main .contenedorPreguntas .contenido div form {
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  align-items: center;
}
main .contenedorPreguntas .contenido div form label {
  font-size: 1.3rem;
  border-bottom: 3px solid rgb(166, 186, 36);
  cursor: pointer;
}
main .contenedorPreguntas .contenido div form input {
  width: 20rem;
  height: 2rem;
  font-size: 1rem;
}
main .contenedorPreguntas .contenido div form input:hover {
  background-color: rgb(166, 186, 36);
}
main .contenedorPreguntas .contenido div form button {
  font-size: 1.5rem;
  padding: 0.6rem;
  background-color: rgb(166, 186, 36);
}
main .contenedorPreguntas .contenido div form button:hover {
  transform: scale(1.1);
  font-size: 150%;
}

/*# sourceMappingURL=style.css.map */
