* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-image: url(../assets/image0.jpg);
    background-size: cover;
    gap: 0rem;
}


p {
    text-transform: capitalize;

}

label {
    text-transform: capitalize;

}

h2 {
    text-transform: capitalize;

}