header {

    height: 5rem;

    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 5rem;
        margin-top: 3rem ;
        button{
            border: 1px solid;
            font-size: 2rem;
            padding: 1rem;
            color: black;
            background-color: rgb(166, 186, 36);
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }
        }
        
        h1 {
            font-size: 3rem;
            text-align: center;
            text-transform: capitalize;
            background-color: rgb(166, 186, 36);
            border: 3px solid black;
            padding: 1rem;

            &:hover{
                transition: 0.3s;
                border: 7px solid  rgb(166, 186, 36);
                
            font-size: 3.4rem;

            }
        }
    }
}