main {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    margin-top: 6rem;
    justify-content: center;
    height: max-content;

    .datos {

        .card {


            width: max-content;
            height: max-content;


            form {

                label {
                    font-size: 1.8rem;
                    color: rgb(9, 9, 9);
                    border-bottom: solid 3px black;

                }

                gap: 2rem;

                border: solid 3px black;
                width: 30rem;
                height: 30rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;



                input {
                    width: 20rem;
                    height: 3rem;
                    font-size: 1.3rem;

                    &::placeholder {
                        font-size: 1rem;
                        background-color: rgb(166, 186, 36);
                        text-align: center;
                    }
                }

                button {
                    background-color: rgb(166, 186, 36);

                    font-size: 1.3rem;
                    padding: 0.5rem 1rem;

                    &:hover {
                        transform: scale(1.09);
                    }
                }



                input {
                    width: 15rem;
                    background: transparent;
                    height: 2rem;

                    &:hover {
                        background-color: rgb(166, 186, 36);

                    }


                    cursor: pointer;

                    &:focus {
                        transform: scale(1.1);
                    }

                }







            }
        }
    }

    .preguntas {

        width: 30rem;
        height: 30rem;
        border: solid 3px black;



        div {
            width: 30rem;
            height: 30rem;

            h2 {
                font-size: 1.5rem;
                text-align: center;
                border: solid 3px black;

            }

            .anclas {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3rem;

                a {
                    width: 15rem;
                    height: 3rem;
                    border: solid 3px black;
                    font-size: 1.4rem;
                    text-decoration: none;
                    text-align: center;
                    color: black;
                    padding-top: 0.5rem;

                    &:hover {
                        background-color: rgb(166, 186, 36);
                        font-size: 1.6rem;
                    }



                }
            }
        }
    }






    //contendeor de los otros html

    .contenedorPreguntas {

        width: 35rem;
        height: 35rem;
        border: 3px solid black;
        display: flex;
        gap: 3rem;
        flex-direction: column;
        justify-content: start;

        h2 {
            margin-top: 1rem;
        }

        div {

            display: flex;
            gap: 1.3rem;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;

                label {
                    font-size: 1.3rem;
                    border-bottom: 3px solid rgb(166, 186, 36);
                }

                input {
                    width: 20rem;
                    height: 2rem;
                    font-size: 1rem;

                    &:hover {
                        background-color: rgb(166, 186, 36);
                    }
                }

                button {
                    font-size: 1.5rem;
                    padding: 0.6rem;
                }
            }

        }



    }


}